.pagination {
	line-height:2em;
}
.pagination a,
.pagination span {
	padding:0.2em 0.5em;
}
.pagination a {
	border:1px solid #9AAFE5;
	color:#105CB6;
	text-decoration:none;
}
.pagination a:hover {
	border:1px solid #296BB5;
	color:#000031;
}
.pagination .prevnext {
	font-weight:bold;
}
.pagination span.disabled { 
	border:1px solid #DDDDDD;
	color:#999999;
}
.pagination span.current {
	border:1px solid #2E6AB1;
	background-color:#2E6AB1;
	color:#ffffff;
	font-weight:bold;
}